---
import LogoutButton from "../components/LogoutButton.astro";

interface Props {
    title?: string;
    description?: string;
    index?: boolean;
}

const sitename = "Smart Mailbox Portal";
const title = Astro.props.title? `${Astro.props.title} – ${sitename}` : sitename;
const description = Astro.props.description || "Smart Mailbox Portal is a web application for managing your smart mailbox.";
const { index } = Astro.props;
---

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, interactive-widget=overlays-content">
        <meta name="generator" content={Astro.generator} />
        
        <link rel="icon" type="image/svg+xml" href="/res/favicon.svg" />
        <link rel="sitemap" href="/sitemap-index.xml" />
        
        <meta name="application-name" content={sitename}>
        <meta property="og:site_name" content={sitename}>

        <title>{title}</title>
        <meta property="og:title" content={title}>
        
        <meta name="description" content={description}>
        <meta property="og:description" content={description}>

        <meta property="og:type" content="website">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
    </head>
    <body>
        <div id="header" class={index? "index" : "home-link"} onclick={index? "" : `window.location='/';`}>
            <img src="/res/logo.svg" alt="Logo">
        </div>
        <div id="content" class={index? "index" : ""}>
            <slot />
            {!index && <LogoutButton />}
        </div>
    </body>
</html>

<style is:global>
    :root {
        --bg: #111e33;
        --fg: #eaeafa;
        --accent: #df2820;
        --accent-high: #f73127;
        --thing: #1e2a3a;
    }

    html, body {
        overscroll-behavior: none;
    }

    body {
        margin: 0;
        padding: 0;
        background: var(--bg);
        color: var(--fg);

        font-family: "Outfit", sans-serif;
        font-optical-sizing: auto;
        user-select: none;
    }

    a {
        color: var(--accent);
        text-decoration: none;
        font-size: 0.9rem;
    }

    a:hover {
        text-decoration: underline;
    }

    h1 {
        font-size: 2.5rem;
        margin-top: 0;
        text-align: center;
    }

    h2 {
        font-size: 2rem;
        text-align: left;
    }

    #header {
        position: fixed;
        top: 0;
        width: 100%;
        height: 5rem;
        min-height: 5rem;
        background: linear-gradient(120deg, #002E63, #0062BC, #002E63);
        z-index: 1;
    }

    #header.home-link {   
        cursor: pointer;
    }

    #header > img {
        display: block;
        margin: 0 auto;
        height: 100%;
        max-width: 100%;
    }

    #content {
        padding-top: 5rem;
        padding-bottom: 1rem;
        margin-top: 1em;
        width: calc(575px + 6vw);
        max-width: 94vw;
        margin-inline: auto;
        text-align: center;
    }

    @media (min-width: 520px) {
        #header.index {
            height: 8rem;
        }

        #content.index {
            padding-top: 8rem;
        }
    }

    @media print {
        #header {
            display: none;
        }

        #content {
            padding-top: 1rem;
        }
    }

    .thing {
        background-color: var(--thing);
        padding: 2rem;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        text-align: center;
        max-width: 450px;
        width: -moz-available;
        width: -webkit-fill-available;
        margin: 0 auto;
    }

    label {
        display: block;
        margin-bottom: 0.5rem;
        font-size: 1rem;
    }

    input {
        width: calc(100% - 1rem);
        padding: 0.5rem;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 1rem;
    }

    input[type="text"], input[type="password"] {
        background-color: #f9f9f9;
        color: #333;
    }

    input:disabled, input[type="checkbox"]:checked:disabled {
        background-color: #e0e0e0;
        color: #a0a0a0;
        cursor: not-allowed;
        border: 1px solid #cccccc;
    }

    input[type="checkbox"] {
        width: 20px;
        height: 20px;
        accent-color: var(--accent);
        cursor: pointer;
        appearance: none;
        border: 2px solid #ccc;
        border-radius: 3px;
        position: relative;
        vertical-align: middle;
        margin-right: 8px;
    }
    
    input[type="checkbox"]:disabled {
        background-color: #e0e0e080;
    }

    input[type="checkbox"]:checked {
        background-color: var(--accent);
        border-color: var(--accent);
    }

    input[type="checkbox"]:checked::before {
        content: "✔";
        color: var(--fg);
        font-weight: bold;
        position: absolute;
        top: -1px;
        left: 2px;
        font-size: 14px;
    }

    button {
        background-color: var(--accent);
        color: var(--fg);
        padding: 0.75rem;
        border: none;
        border-radius: 5px;
        font-size: 1rem;
        cursor: pointer;
    }

    button:hover {
        background-color: var(--accent-high);
    }

    button:disabled {
        background-color: #b0b0b0;
        color: #ffffff;
        cursor: not-allowed;
    }

    a:disabled {
        pointer-events: none;
        color: #b0b0b0;
        text-decoration: none;
    }

    .err {
        color: red;
        margin-bottom: 1.5rem;
    }
</style>
